/* This code here stabilizes the site because there are browser added spaces at first and they have to be removed */
* {
    margin: 0;
    padding: 0;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 0% 3%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.logo-text{
    font-family: "Raleway", sans-serif;
    font-size: larger;
    font-weight: lighter;
}
.the-O{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
/* =========================================================== */
.options{
    display: flex;
    align-items: center;
    gap: 30px;
}
.option{
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* ===================================================================== */
.users{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px
}
.login{
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 7px;
}
.signup{
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: 700;
}
.languages{
    width: 20px;
}
/* ======================================================= */
.preview{
    /* padding: 0% 3%;*/
    margin: 0% 3%; 
    /* position: absolute; */
    /* width: 1372px; */
    min-height: 599px;
    /* left: 50px;
    top: 85px; */

    background: url(/img/Rectangle\ 1.png);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.lowerPortion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.previewImg{
    width: 100%;
    min-height: 90%;
    border-radius: 30px;
    /* padding: 0% 3%; */
}

.services{
    position: relative;
    background-color: white;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    box-shadow: 1px 5px 10px #555;
    justify-content: space-around;
    top: 40px;
  }

/* /* .arrows{
    position: relative;
    /* z-index: 1; */
    /* top: -150px;
    left: 7.5%; 
} */
.arrows{
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* position: relative;
    top: -150px;
    display: flex;
    justify-content:space-between;
    padding: 0px 100px; */
}
/* .leftArrow{
    position: relative;
    top: -150px;
    left: 100px;
}
.rightArrow{
    position: relative;
    top: -150px;
    right: 100px;
} */

.pageTitle{
    position: absolute;
    top: 25%;
    left: 13%;
    font-size: 2.5rem;
    font-family: "Poppins","Raleway", sans-serif;
    /* z-index: 1; */
}
.title{

    font-family: "Poppins", "Raleway", sans-serif;
}
.subTitle{
    font-family: "JetBrains Mono","Poppins", "Raleway", sans-serif;
}





