* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.logo-text{
    font-family: "Raleway", sans-serif;
    font-size: larger;
    font-weight: lighter;
}
.the-O{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
/* =========================================================== */
.options{
    display: flex;
    align-items: center;
    gap: 30px;
}
.option{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* ===================================================================== */
.users{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px
}
.login{
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 7px;
}
.signup{
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: 700;
}
.languages{
    width: 20px;
}










