/* This code here stabilizes the site because there are browser added spaces at first and they have to be removed */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 3%;
    margin: 0px 3%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.logo-text {
    font-family: "Raleway", sans-serif;
    font-size: larger;
}

.the-O {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.overseasNav {
    text-decoration: none;
    color: black;
}
/* =========================================================== */
.options{
    display: flex;
    align-items: center;
    gap: 30px;
}
.option{
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* ===================================================================== */
.users{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px
}
.login{
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 7px;
}
.signUpContainer{
    background-color: black;
    width: 88px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.signUp{
    color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.languages{
    width: 45px;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 2px solid black;
}



/* ============================================================= */
.searchField{
    margin: 2% 3%;
    display: flex;
    justify-content: center;
    background-color: #ddd;
    width: 83%;
    margin-left: 7%;
    border-radius: 12px;
    margin-bottom: 4%;
}
.searchFieldContainer{
    display: flex;
    justify-content: space-between;
    width: 1212px;
    height: 65px;
    align-items: center;
    /* width: 90%; */
    padding: 0.1% 2%;
}
.searchFieldBoxContainer{
    width: 88%;
}
.searchBox{
    width: 100%;
    padding: 0.7%;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    font-size: 24px;
}


.buttonsContainer{
    display: flex;
    justify-content: space-around;
    gap: 5%;
    align-items: center;
}
.filterButton{
    background-color: black;
    border-radius: 12px;
    height: 50px;
    width: 55px;
}
.searchButton{
    background-color: black;
    border-radius: 12px;
    height: 50px;
    width: 55px;
}

/* ===================================================================================================== */
.mainContainer{
    display: flex;
    margin: 2% 3%;
}
.details{
    width: 70%;
    border: 1px black solid;
    height: 100vh;
}

.filters{
    width: 30%;
    border: 1px black solid;
    height: 100vh;


}
/* ===================================================================================================== */

.priceRange{
    border: 2px black solid;
    padding: 1% 1%;
    display: flex;
    margin: 2%;
    border-radius: 12px;
    /* justify-content: space-evenly; */
}
.cheapestContainer{
    height: 64px;
    width: 33%;
    border-right: 1px black solid;
    margin-left: 1%;
}
.cheapest{
    height: 64px;
    width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* border-right: 1px black solid; */
  padding: 3%;
  border-radius: 6px;

}
.cheapest:hover{
    background-color: #eee;
    cursor: pointer;
}

.bestContainer{
    height: 64px;
    width: 33%;
    border-right: 1px black solid;
}
.best{
    height: 64px;
    width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
    border-radius: 6px;
    padding: 2% 3.5%;
    margin-left: 3%;
}
.best:hover{
    background-color: #eee;
    cursor: pointer;

}

.quickestContainer{
    height: 64px;
    width: 33%;

}
.quickest{
    height: 64px;
    width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 2% 3.5%;
  border-radius: 6px;
  margin-left: 3%;
}
.quickest:hover{
    background-color: #eee;
    cursor: pointer;

}

.priceRangeTitle{
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.priceRangePrice{
    font-size: 12px;
    font-family: "Poppins", sans-serif;

}

/* ===================================================================================================== */
.flightDetailsContainer{
    display: flex;
  justify-content: space-between;
  border: 2px black solid;
  border-radius: 12px;
  padding: 1% 1%;
  margin: 2%;
}

.flightDetailLeft{
    /* display: flex; */
}

.detailOne{
    display: flex;
    justify-content: space-between;
    column-gap: 2%;
}

.selectAirLine{
    display: flex;
  gap: 10px;
  align-items: center;
  padding: 2%;
}
.radioButton{

}
.airLinesLogo{
    background: url(/assets/ethiopian_Airlines.png);
    width: 108px;
    height: 45px;
    background-size: cover;
}
.flightTime{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.appointmentTime{
    font-weight: bold;
  width: 170px;
  display: flex;
  font-family: "Poppins", sans-serif;

}
.airlinesName{
    font-size: 12px;
  color: #555;
  font-family: "Poppins", sans-serif;
}



.numberOfStop{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stopCount{
    font-weight: bold;
    width: 100px;
    display: flex;
    font-family: "Poppins", sans-serif;

}
.placeToStop{
    font-size: 12px;
    color: #555;
    font-family: "Poppins", sans-serif;
}




.duration{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flightDuration{
    font-weight: bold;
    width: 170px;
    display: flex;
    font-family: "Poppins", sans-serif;
}
.fromAndTo{
    font-size: 12px;
    color: #555;
    font-family: "Poppins", sans-serif;
}





.detailTwo{
    display: flex;
    justify-content: space-between;
    column-gap: 2%;
}


.flightDetailRight{
    display: flex;
  gap: 20px;
  align-items: center;
}

.economyClass{
    border: 2px black solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 122px;
  height: 104px;
  padding: 4%;
}
.classPrice{
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.classDesc{
    font-size: 8px;
    font-family: "Poppins", sans-serif;
    width: 12ch;
    display: inline-block;
}
.viewDeal{
    background-color: black;
    height: 24px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.viewLink{
    text-decoration: none;
  color: white;
  font-size: 8px;
}
.bussinesClass{
    border: 2px black solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 122px;
  height: 104px;
  padding: 4%;
  margin-right: 5%;
}
