/* This code here stabilizes the site because there are browser added spaces at first and they have to be removed */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 3%;
    margin: 0px 3%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.logo-text {
    font-family: "Raleway", sans-serif;
    font-size: larger;
}

.the-O {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.overseasNav {
    text-decoration: none;
    color: black;
}

/* =========================================================== */
.options {
    display: flex;
    align-items: center;
    gap: 30px;
}

.option {
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* ===================================================================== */
.users {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px
}

.login {
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 3px;
}

.signUpContainer {
    background-color: black;
    width: 88px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.signUp {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.languages {
    width: 50px;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 2px solid black;
}

/* ======================================================= */
.preview {
    /* padding: 0% 3%;*/
    margin: 0% 5%;
    /* position: absolute; */
    /* width: 1372px; */
    min-height: calc(100vh - 200px);
    /* left: 50px;
    top: 85px; */
    background-position: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    position: relative;
    transition: background-image 0.5s ease-in-out;
}

.lowerPortion {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.previewImg {
    width: 100%;
    min-height: 90%;
    border-radius: 30px;
    /* padding: 0% 3%; */
}

.servicesContainer {
    position: relative;
    background-color: white;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    box-shadow: 1px 5px 10px #555;
    justify-content: space-around;
    top: 40px;
}

.serviceIcon1 {
    background: url("../assets/Group\ 3.png");
    width: 42px;
    height: 42px;
    background-size: cover;

}

.serviceIcon2 {
    background: url("../assets/Group\ 6.png");
    width: 42px;
    height: 42px;
    background-size: cover;

}

.serviceIcon3 {
    background: url("../assets/Group\ 7.png");
    width: 42px;
    height: 42px;
    background-size: cover;

}

.services {
    display: flex;
    gap: 2%;
    width: 30%;
}

.serviceDescTitle {
    font-family: "Poppins", "Raleway", sans-serif;
    font-weight: bold;
    font-size: medium;
}

.serviceDescDetail {
    font-size: x-small;
}

/* /* .arrows{
    position: relative;
    /* z-index: 1; */
/* top: -150px;
    left: 7.5%; 
} */
.arrows {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    /* position: relative;
    top: -150px;
    display: flex;
    justify-content:space-between;
    padding: 0px 100px; */
}

.leftArrow, .rightArrow{
    transform: rotate(90deg);
    cursor: pointer;
}

.pageTitle {
    position: absolute;
    top: 60px;
    left: 8%;
    font-family: "Poppins", "Raleway", sans-serif;
    /* z-index: 1; */
}

.title {
    font-family: "Poppins", sans-serif;
    font-size: 128px;
}

.subTitle {
    font-family: "JetBrains Mono", monospace;
    font-size: 32px;
}

.black-color {
    color: black;
}

.white-color {
    color: white;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fadein;
    animation-duration: 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* ========================================================================== */
.topDestionations {
    display: flex;
    flex-direction: column;
    margin: 8% 3% 0% 3%;
    padding: 0% 2%;
}

.topDestionationSec {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

.topdestinationTitle {
    font-family: "Poppins", "Raleway", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.topDestinationDetail {
    font-family: "Poppins", "Raleway", sans-serif;
    font-size: 16px;
}

.destinationsSec {
    display: flex;
    justify-content: space-between;
}

.leftDetails {
    display: flex;
    flex-direction: column;
    width: 62%;
    justify-content: space-around;
}

/* fix the images position */
.leftUpperDetails {
    height: 250px;
    width: 100%;
    background: url("../img/Rectangle\ 4215\(3\).png");
    border-radius: 12px;
    margin-bottom: 50px;
    box-shadow: 90px 0px 60px 0px black inset;
    background-size: cover;
    background-position-y: center;
}

.leftButtomDetails {
    display: flex;
    gap: 5%;
    width: 100%;
}

.leftButtomLeftDetails {
    background: url("../img/Rectangle\ 4218.png");
    width: 400px;
    height: 250px;
    border-radius: 12px;
    box-shadow: -0px -115px 60px -30px black inset;
    background-size: cover;

}

.leftButtomRightDetails {
    background: url("../img/Rectangle\ 4219.png");
    width: 400px;
    height: 250px;
    border-radius: 12px;
    box-shadow: -0px -115px 60px -30px black inset;
    background-size: cover;

}

.rightDetails {
    background: url("../img/Rectangle\ 4217.png");
    border-radius: 12px;
    width: 32.5%;
    /* height: 550px; */
    box-shadow: -0px -115px 60px -30px black inset;
    background-size: cover;

}

.moreDestinations {
    display: flex;
    padding: 3% 0%;
    justify-content: space-between;
    align-items: baseline;
}

.brackingLine {
    width: 90%;
    height: 3px;
    background-color: black;
}

.moreButton {
    background-color: black;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    font-weight: 700;
}

.moreButtonLink {
    text-decoration: none;
    color: white;
}

/* .moreButtonImg{
    width: 30px;
    height: 30px;
} */
.buttonContainer {
    display: flex;
    justify-content: baseline;
}

/* imgDescription of right image */
.rightDetailsHorizontalImgDesc {
    position: relative;
    top: 89%;
    left: 5%;
    display: flex;
    flex-direction: column;
}

/* imgDescription of left buttom images */

.leftButtomHorizontalImgDesc {
    position: relative;
    top: 75%;
    left: 5%;
    display: flex;
    flex-direction: column;
}

.leftUpperHorizontalImgDesc {
    display: flex;
    padding: 2% 2%;
}

.topdestinationRightTitle {
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-size: "Poppins", "Raleway", sans-serif;
}

.topDestinationRightDesc {
    color: white;
    font-size: 10px;
    font-size: "Poppins", "Raleway", sans-serif;

}

.topdestinationLeftUpperTitle {
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-size: "Poppins", "Raleway", sans-serif;
    writing-mode: vertical-lr;
}

.topDestinationLeftUpperDesc {
    color: white;
    font-size: 10px;
    font-size: "Poppins", "Raleway", sans-serif;
    writing-mode: vertical-lr;
}

/* ============================================================================ */
.bookings {
    display: flex;
    flex-direction: column;
    margin: 0% 3% 8% 3%;
    padding: 0% 2%;

}


.bookinIntro {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

.bookingTitle {
    font-family: "Poppins", "Raleway", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.bookingDetail {
    font-family: "Poppins", "Raleway", sans-serif;
    font-size: 16px;
}


/* ////ticketing/// */
.ticketBooking {
    display: flex;
    justify-content: space-between;
    padding: 3% 0%;
}

.ticketImg {
    background: url("../img/Rectangle\ 4224.png");
    /* background-size: 104%; */
    /* background-repeat: no-repeat; */
    background-position-x: center;
    width: 69%;
    height: 250px;
    border-radius: 12px;
    background-size: cover;

}

.ticketDetail {
    width: 28%;
    height: 250px;
    background-color: #8D98A8;
    border-radius: 12px;
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 15% 0, 22% 0, 22% 100%, 100% 100%, 100% 0%);
}

.ticketDescSec {
    position: relative;
    top: 20%;
    left: 24%;
    display: inline-grid;
    justify-items: end;
}

.ticketingTitle {
    color: white;
    font-size: 28px;
}

.ticketingDetail {
    color: white;
    /* font-size: 14px; */
}

.ticketsButton {
    background-color: white;
    border-radius: 5px;
    /* padding: 10px 25px; */

    font-weight: 700;
    width: 103px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 60%;

}

.ticktesButtonLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Poppins", "Raleway", sans-serif;
}

/* .whiteStroke{
    height: 110%;
    width: 22px;
    background-color: white;
    position: relative;
    left: 15%;
    top: -47%;
} */
.ticketIcon {
    background: url("../assets/Intersect.png");
    width: 24px;
    height: 22px;
    position: relative;
    top: 40%;
    left: 4%;
    background-size: cover;

}

/* /////hoteling//// */


.hotelBooking {
    display: flex;
    justify-content: space-between;
}

.hotelDetail {
    width: 30%;
    height: 250px;
    background-color: #1E343D;
    border-radius: 12px;
    clip-path: polygon(0% 0%, 0% 100%, 81% 100%, 81% 0, 88% 0, 88% 100%, 100% 100%, 100% 0%);
}


.hotelDescSec {
    position: relative;
    top: 20%;
    left: 5%;
    /* display: inline-grid;
    justify-items: end; */
}

/* .hotelwhiteStroke{
    height: 110%;
    width: 22px;
    background-color: white;
    position: relative;
    left: 81%;
    top: -55%;
  } */
.hotelsButton {
    background-color: white;
    border-radius: 5px;
    /* padding: 10px 25px; */

    font-weight: 700;
    width: 103px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40%;
    left: 10%;
}

.hotelsButtonLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Poppins", "Raleway", sans-serif;
}

.hotelingTitle {
    color: white;
    font-size: 28px;
    font-weight: bolder;
    font-family: "Poppins", "Raleway", sans-serif;
}

.hotelingDetail {
    color: white;
    font-family: "Poppins", "Raleway", sans-serif;
}

.hotelIcon {
    background: url("../assets/Group\ 15.png");
    width: 23px;
    height: 28px;
    position: relative;
    top: 30%;
    left: 91%;
    background-size: cover;

}

.hotelImg {
    background: url("../img/Rectangle\ 4226.png");
    width: 67%;
    height: 250px;
    border-radius: 12px;
    background-size: 110%;
    background-repeat: no-repeat;
    background-size: cover;

}

/* /////rental//// */


.carRental {
    display: flex;
    justify-content: space-between;
    padding: 3% 0%;
}

.rentalDescSec {
    position: relative;
    top: 5%;
    left: 5%;
}

.rentingTitle {
    color: white;
    font-size: 28px;
    font-weight: bolder;
    font-family: "Poppins", "Raleway", sans-serif;
}

.rentingDetail {
    color: white;
    font-family: "Poppins", "Raleway", sans-serif;
}

.rentalButton {
    background-color: white;
    border-radius: 5px;
    font-weight: 700;
    width: 103px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 36%;
    left: 5%;
}

.rentalButtonLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Poppins", "Raleway", sans-serif;
}

/* .rentalwhiteStroke{
    width: 643px;
    height: 22px;
    background-color: white;
    position: relative;
  top: 10%;
} */
.rentalIcon {
    background: url("../assets/Group\ 16.png");
    width: 26px;
    height: 24px;
    position: relative;
    top: 26%;
    left: 90%;
    background-size: cover;

}

.rentalImg {
    background: url("../img/Rectangle\ 4229.png");
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    width: 50%;
    height: 250px;
    border-radius: 12px;
    background-size: cover;

}

.rentalDetail {
    width: 47%;
    height: 250px;
    background-color: #0A1010;
    border-radius: 12px;
    clip-path: polygon(0% 0%, 0 100%, 0 58%, 100% 58%, 100% 68%, 0 68%, 0 100%, 100% 100%, 100% 0%);
}




.moreBooking {
    background-color: black;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    font-weight: 700;
}

.moreBookingLink {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-family: "Poppins", "Raleway", sans-serif;
}

/* ================================================================================ */
.testimonials {
    display: flex;
    flex-direction: column;
    margin: 0% 3% 8% 3%;
    padding: 0% 3%;
}

.testimonialTitle {
    font-family: "Poppins", "Raleway", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.testimonialDetail {
    font-family: "Poppins", "Raleway", sans-serif;
    font-size: 16px;
}

.testimonialDetails {
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
    margin-top: 5%;
}

.testimonialDetailLeft {
    display: flex;
    flex-direction: column;
    width: 130%;
    justify-content: space-around;
}

.testimonialDetailLeftUpper {
    display: flex;
    justify-content: space-around;

}

.photoContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../img/Ellipse\ 67.png");
    background-size: cover;

}

.testimonialDetailLeftBottom {
    display: flex;
    column-gap: 10%;
    padding-left: 10%;
}

/* =================================================================================== */
.community {
    background: url("../img/Component\ 3.png");
    height: 1030px;
    display: flex;
    flex-direction: column;
    background-size: cover;


}

.communityTitle {
    font-family: "Poppins", "Raleway", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.communityIntro {
    padding: 4% 5%;
}

.communityIntroDetail {
    font-family: "Poppins", "Raleway", sans-serif;
    font-size: 16px;
    color: white;
}

.communityDetail {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 5%; */
    /* margin-left: 2%; */

}

.lastOverseas {
    font-size: 90px;
    color: white;
    display: flex;
    justify-content: center;
    top: 5%;
    position: relative;
}

.showCaseContainer {
    display: flex;
    gap: 3%;
    margin-bottom: 5%;
    justify-content: space-evenly;
}

.showCase {
    width: 400px;
    height: 513px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.showCaseImg {
    width: 395px;
    height: 378px;
    padding: 3%;
}

.image1 {
    background: url("../img/Rectangle\ 4263.png");
    width: 372px;
    height: 378px;
    border-radius: 12px;
    background-size: cover;

}

.image2 {
    background: url("../img/Rectangle\ 4264.png");
    width: 372px;
    height: 378px;
    border-radius: 12px;
    background-size: cover;

}

.image3 {
    background: url("../img/Rectangle\ 4265.png");
    width: 372px;
    height: 378px;
    border-radius: 12px;
    background-size: cover;

}


.showCaswDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.showCaswDetails {
    padding-left: 5%;
    padding-bottom: 2%;
}

.showCaseDesc {
    padding-bottom: 6%;
}

.showCaseTitle {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.showCaseDetail {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}

.showCasePrice {
    font-family: "JetBrains Mono", "Poppins", sans-serif;
    font-size: 10px;
    padding-bottom: 2%;
}